<div class="grid-fluid">
  <div class="footer-block" *ngFor="let node of nodes">
    <h3>{{node.title}}</h3>
    <ul>
      <li *ngFor="let item of node.children">
        <a class="link" [href]="item.url" [title]="item.tooltip || item.title">{{ item.title }}</a>
      </li>
    </ul>
  </div>
</div>

<p>
  Copyright © 2019 brokstar.com
  <a href="license" title="License text">河南雅泰不动产经纪有限公司</a>
  文档版本
  <a href="http://creativecommons.org/licenses/by/4.0/">V0.0.1</a>
</p>
<p>
  豫ICP备17018001号
</p>